<%- include('partials/header') %> 
<div class="container">
    <div class="p-4" style="border:1px solid lightgray; border-radius: 5px; width: 50%; margin: 0 auto;">
        <img src="<%= blog.img %>" class="img-fluid mb-2">
        <p><strong>Title:</strong> <%= blog.title %> </p>
        <p><strong>Created:</strong> <%= blog.created.toDateString() %> </p>
        <p><strong>Description: </strong><%= blog.description %> </p>
        <a href="/blogs/<%= blog._id %>/edit" class="btn btn-outline-warning">Edit</a>
        <form method="POST" action="/blogs/<%= blog._id  %>?_method=DELETE" style="display: inline;">
        <button type="submit" class="btn btn-outline-danger">Delete</button>
        </form>
        
    </div>
</div>
<%- include('partials/footer') %>